/*#*/
:root {
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1rem;
}
li {
    list-style-type: none;
}
.store, .store-footer {
    font-size: 2rem;
    color: #000;
}
.store:hover, .store-footer:hover {
    color: rgb(73, 73, 73);
    transition: 0.5s;
}
#menu-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#cart {
    padding: 12px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    border: none;
}
#cart:hover {
    cursor: pointer;
    background-color: rgb(73, 73, 73);
    transition: 0.5s;
    border: none;
}
#lines {
    font-size: 2rem;
    text-decoration: none;
}
#container {
    background-color: #2a2929;
    position: relative;
    color: #fff;
    height: 90vh;
    margin: 15px;
}
#first-h1, #second-h1 {
    margin: auto;
    font-size: 3.5rem;
    text-align: center;
}
#first-p {
    font-weight: 50;
    font-size: 1.2rem;
    padding: 0 40px;
    text-align: center;
}
.button {
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#explore {
    right: 50%;
    text-transform: uppercase;
    padding: 20px 50px;
    border: none;
}
#explore:hover {
    background-color: #8d8d8d;
    cursor: pointer;
    transition: 0.5s;
    border:none;
}
h3 {
    color: #000;
    font-weight: 200;
    font-size: 1.2rem;
    margin: 0 40px;
    text-align: center;
}
hr {
    margin: auto;
    width: 80vw;
}
#second-p, #third-p, #fourth-p {
    text-align: center;
    margin: 0 40px;
    line-height: 1.5rem;
}
h2 {
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
}
#img {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img>img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}
#img>img:hover {
    filter: contrast(60%);
    transition: 0.5s;
    cursor: pointer;
}
form {
    width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
input, #submit {
    margin: 10px auto;
    width: 80%;
    padding: 10px 10px;
    text-align: center;
    border: none;
    font-size: 1rem;
}
input {
    background-color: #e1e1e1;
    color: #fff;
}
#submit {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #2a2929;
    color: #fff;
}
#submit:hover {
    background-color: #949494;
    transition: 0.5s;
    cursor: pointer;
}
#footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2.2rem;
}
#footer ul {
    text-transform: uppercase;
}
#footer li {
    text-transform: none;
}
#footer li>a {
    text-decoration: none;
    color: #949494;
}
#footer li>a:hover {
    color: #000;
    transition: 0.5s;
}


@media (min-width:768px) and (max-width:991px) {
    #menu {
        width: 90%;
        margin: auto;
    }

    #container {
        background-color: #2a2929;
        position: relative;
        color: #fff;
        height: 90vh;
        margin: 15px;
    }

    hr {
        margin: auto;
        width: 60vw;
    }

    #second-p,
    #third-p,
    #fourth-p {
        text-align: center;
        margin: 0 100px;
        line-height: 1.5rem;
    }

    #img {
        margin: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img>img {
        width: 500px;
        height: 500px;
        margin-bottom: 20px;
    }

    form {
        width: 50vw;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    
        #menu {
        width: 90%;
        margin: auto;
    }

    #container {
        background-color: #2a2929;
        position: relative;
        color: #fff;
        height: 90vh;
        margin: 15px;
    }

    #first-h1,
    #second-h1 {
        font-size: 5rem;
        text-align: center;
    }

    #first-p {
        font-weight: 50;
        font-size: 1.5rem;
        padding: 10px 0;
        text-align: center;
    }

    .button {
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #explore {
            padding: 30px 100px;
        }

    hr {
        margin: auto;
        width: 60vw;
    }

    #second-p,
    #third-p,
    #fourth-p {
        text-align: center;
        margin: 0 80px;
        line-height: 1.5rem;
    }

    #img {
        margin: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img>img {
        width: 600px;
        height: 600px;
        margin-bottom: 20px;
    }

    form {
        width: 70vw;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }

        input,
        #submit {
            margin: 10px auto;
            width: 80%;
            padding: 30px 10px;
            text-align: center;
            border: none;
            font-size: 1rem;
        }
    
        input {
            background-color: #e1e1e1;
            color: #fff;
        }
    
        #submit {
            font-size: 1rem;
            text-transform: uppercase;
            background-color: #2a2929;
            color: #fff;
            margin-bottom: 20px;
        }

        .store-footer {
            display: block;
        }

        #footer {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            text-align: center; 
        }

        #footer nav ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
    }          
@media (min-width:1200px) {
        #menu {
                width: 90%;
                margin: auto;
            }
        
            #container {
                background-color: #2a2929;
                position: relative;
                color: #fff;
                height: 90vh;
                margin: 15px;
            }
        
            #first-h1,
            #second-h1 {
                font-size: 5rem;
                text-align: center;
            }
        
            #first-p {
                font-weight: 50;
                font-size: 1.5rem;
                padding: 10px 0;
                text-align: center;
            }
        
            .button {
                height: 50px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            #explore {
                padding: 30px 100px;
            }
        
            hr {
                margin: auto;
                width: 60vw;
            }
        
            #second-p,
            #third-p,
            #fourth-p {
                text-align: center;
                margin: 0 80px;
                line-height: 1.5rem;
            }
        
            #img {
                margin: auto;
                width: 80vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            #img>img {
                width: 800px;
                height: 800px;
                margin-bottom: 20px;
            }
        
            form {
                width: 70vw;
                margin: 20px auto;
                display: flex;
                flex-direction: column;
            }
        
            input,
            #submit {
                margin: 10px auto;
                width: 80%;
                padding: 30px 10px;
                text-align: center;
                border: none;
                font-size: 1rem;
            }
        
            input {
                background-color: #e1e1e1;
                color: #fff;
            }
        
            #submit {
                font-size: 1rem;
                text-transform: uppercase;
                background-color: #2a2929;
                color: #fff;
                margin-bottom: 20px;
            }
        
            .store-footer {
                display: block;
            }
        
            #footer {
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;
                text-align: center;
            }
        
            #footer nav ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
            }
}